 
/BraveSoftware/
/Code/
/KDE/
/MongoDB Compass/
/PlasmaDiscoverUpdates
/QtProject.conf
/Trolltech.conf
/act/
/akregatorrc
/arkrc
/astro/
/bluedevilglobalrc
/configstore/
/dconf/
/discoverrc
/dolphinrc
/emaildefaults
/fish/
/github-copilot/
/go/
/gtk-3.0/
/gtk-4.0/
/gtkrc
/gtkrc-2.0
/gwenviewrc
/htop/
/jgit/
/kactivitymanagerd-statsrc
/kactivitymanagerdrc
/katemetainfos
/katerc
/kateschemarc
/katevirc
/kcminputrc
/kconf_updaterc
/kde.org/
/kdeconnect/
/kded5rc
/kdedefaults/
/kdeglobals
/kgammarc
/kglobalshortcutsrc
/khelpcenterrc
/khotkeysrc
/kiorc
/kmixrc
/konsolerc
/konsolesshconfig
/korgacrc
/krunnerrc
/kscreenlockerrc
/ksmserverrc
/ktimezonedrc
/kwalletrc
/kwinrc
/kwinrulesrc
/kxkbrc
/lazygit/
/libaccounts-glib/
/libreoffice/
/mimeapps.list
/nextjs-nodejs/
/okularpartrc
/okularrc
/pgadmin4/
/plasma-localerc
/plasma-nm
/plasma-org.kde.plasma.desktop-appletsrc
/plasma-welcomerc
/plasmanotifyrc
/plasmaparc
/plasmashellrc
/plasmavaultrc
/powerdevilrc
/powermanagementprofilesrc
/pulse/
/rover/
/session/
/soffice.binrc
/spectaclerc
/sst/
/systemd/
/systemmonitorrc
/systemsettingsrc
/trashrc
/turso/
/user-dirs.dirs
/user-dirs.locale
/xdg-desktop-portal-kderc
/xsettingsd/
/zed/
